# Plex Media Server Stack
# Independent stack for Plex - can run separately from torrent automation

services:
  plex:
    image: lscr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=docker
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - /var/lib/homelab-media-configs/plex:/config
      - /mnt/media/transcode:/transcode
      - /mnt/media:/data
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
